{% extends 'base.html' %}
{% block content %}
    <div class="container theme-showcase" role="main">

      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Oops! Ocorreu um erro inesperado no servidor.<br>Desulpe o ocorrido. Os administradores já estão sendo notificados sobre o erro ocorrido.      
      </div>

    </div> <!-- /container -->
{% endblock %}
