{% extends 'base.html' %}
{% block content %}
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h4>Sistema desenvolvido como parte do projeto de pesquisa cadastrado no
          <a target="_blank" href="https://www2.dti.ufv.br/sisppg/scripts/projetos/consultarProjeto.php">
          SisPPG
          </a>
          com número: 191085
        </h4>
        <h4>Este sistema utiliza o software
          <a target="_blank" href="http://www.bernese.unibe.ch">
          Bernese GNSS
          </a>
          adquirido pelo departamento de Engenharia Civil da UFV.
        </h4>
      </div>

    </div> <!-- /container -->
{% endblock %}
