<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="unicode">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Sistema de processamento de dados GNSS da UFV">
    <meta name="author" content="Gabriel Diniz de Oliveira">
    <title>GNSS-UFV</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'logo-gnss-ufv.png' %}"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'home/home.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'home/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'home/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {% comment %} <link href="{% static 'home/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet"> {% endcomment %}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static 'assets/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    {% comment %} <script src="{% static 'home/assets/js/ie-emulation-modes-warning.js' %}"></script> {% endcomment %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% comment %} CSS para a seleção das estações da RBMC em rede {% endcomment %}
      <link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><font color="black">GNSS-UFV</font></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if isHome %} class="active"{% endif %}><a href="{% url 'core:index' %}">Início</a></li>
            <li {% if isPPP %} class="active"{% endif %}><a href="{% url 'ppp:index' %}">PPP</a></li>
            <li {% if isRelativo %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relativo <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'relativo:index' %}">Padrão</a></li>
                <li><a href="{% url 'rede:index' %}">Rede</a></li>
                <li><a href="{% url 'rapido:index' %}">Estático Rápido</a></li>
              </ul>
            </li>
            <li {% if isFila %} class="active"{% endif %}><a href="{% url 'core:process_line_view' %}">Fila</a></li>
            <li {% if isTools %} class="active"{% endif %}><a href="{% url 'core:tools' %}">Ferramentas</a></li>
            <li {% if isAbout %} class="active"{% endif %}><a href="{% url 'core:about' %}">Sobre</a></li>
            <li {% if isContact %} class="active"{% endif %}><a href="{% url 'core:contact' %}">Contato</a></li>
            {% if user.is_admin %}
            <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a></li>
            {% endif %}
          </ul>
            <div align='right'>
            <ul class="nav navbar-right navbar-nav">
            {% if user.is_authenticated %}
            <li><a>Bem-vindo, {{ user.first_name }}!</a>
            <li><a href="{% url 'accounts:logout' %}">Sair</a>
            {% else %}
            <li><a href="{% url 'accounts:login' %}">Entrar</a></li>
            {% endif %}
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% block content %}{% endblock %}

    <footer class="footer">
      <div class="container">
        <div class="text-muted">
          <p align = "center">
            <a class="hidden-xs" href="http://www.dec.ufv.br" target="_blank">
              <img src="{% static 'home/logo-dec-footer.png' %}"
              alt="Departamento de Engenharia Civil" align="left" height="30px">
            </a>
            Desenvolvimento: <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4437655J2" target="_blank">
            Gabriel Diniz de Oliveira</a>
            /
            Coordenação: <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4770936E9" target="_blank">
            William Rodrigo Dal Poz</a>
            <a class="hidden-xs" href="http://www.ufv.br" target="_blank">
              <img src="{% static 'home/logo-ufv-footer.png'%}"
              alt="Universidade Federal de Viçosa" align="right" height="30px">
            </a>
          </p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> {% endcomment %}
    {% comment %} <script src="{% static 'home/assets/js/vendor/jquery.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'home/jquery.min.js' %}"></script>
    <script src="{% static 'home/dist/js/bootstrap.min.js' %}"></script>
    {% comment %} <script src="{% static 'home/assets/js/docs.min.js' %}"></script> {% endcomment %}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {% comment %} <script src="{% static 'home/assets/js/ie10-viewport-bug-workaround.js' %}"></script> {% endcomment %}
  </body>
</html>
