{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container theme-showcase" role="main">

  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    Aplicação em teste.
  </div>

  <div class="alert alert-success alert-dismissible" role="alert" tabindex="0" id="uploadAlert" style="display:None">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    Aguarde o upload do arquivo!
  </div>

  <h2>Posicionamento por Ponto Preciso (PPP)</h2>

<div align="right">
<button id="helpCollapse-btn" class="btn btn-default" type="button" data-toggle="collapse" data-target="#helpCollapse" aria-expanded="false" aria-controls="helpCollapse">
  Descrição<span class="glyphicon glyphicon-question-sign help-icon"> </span>
</button>
</div>

<div class="collapse" id="helpCollapse">
  <div class="well text-justify">
    <p>O PPP consiste em determinar as coordenadas do vértice de interesse de forma absoluta, com o uso 
das observáveis pseudodistância e fase da onda portadora, coletadas por receptores de uma ou dupla 
frequência e com o uso de efemérides precisas produzidas pelo CODE. Nas efemérides precisas, ou pós-processadas, a 
órbita (posição) e o erro do relógio (tempo) dos satélites são 
disponibilizados por meio do endereço http://ftp.aiub.unibe.ch/CODE/yyyy. O referencial geodésico 
vinculado ao posicionamento será aquele das efemérides precisas.</p>
<p>O PPP normalmente fornece precisão centimétrica no modo de posicionamento estático para intervalos 
de rastreios acima de duas horas, podendo convergir para um posicionamento com precisão milimétrica a 
medida que se aumente o intervalo de rastreio.</p>
<p>A técnica PPP possui a vantagem de que um único receptor é necessário para realização do 
posicionamento, eliminando a necessidade de uma estação referência. No entanto, a principal 
desvantagem do PPP se refere ao tempo de rastreio.</p>
  </div>
</div>

  {% if isOK %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Arquivo submetido com sucesso!<br>O resultado do processamento será encaminhado por email.
    </div>
  {% endif %}
  {% if isErro or form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ erroMsg }}
      {{ form.non_field_errors }}
    </div>
  {% endif %}
  <form method="post" enctype="multipart/form-data" id="pppForm">

    {% csrf_token %}

    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}

        {% if field.html_name != "email" %}
          <a>
          <span class="glyphicon glyphicon-question-sign help-icon" data-helpid="{{ field.html_name }}" data-helptitle="{{ field.label }}" data-toggle="modal" data-target="#helpModal" aria-hidden="true">
          </a>
        {% endif %}

      {{ field }}

      {% if field.errors %}
      <ul class="list-group">
        {% for erro in field.errors %}
        <li class="list-group-item list-group-item-danger">{{ erro }}</li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>
    {% endfor %}

    <button type="submit" class="btn btn-default btn-lg" onclick="
      if(document.getElementById('pppForm').checkValidity()){
        document.getElementById('uploadAlert').style.display='block';
        document.getElementById('uploadAlert').focus();
      }">
      Enviar
    </button>
  </form>
</div> <!-- /container -->

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title"></span>
      </div>
      <div class="modal-body text-justify">
        <span id="modal-message"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
