{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="container theme-showcase" role="main">

        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Aplicação em teste.
        </div>

      <div class="alert alert-success alert-dismissible" role="alert" tabindex="0" id="uploadAlert" style="display:None">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Aguarde o upload do arquivo!
      </div>

      <h2>Posicionamento Relativo- Linhas de Base Múltiplas</h2>

      <div align="right">
      <button id="helpCollapse-btn" class="btn btn-default" type="button" data-toggle="collapse" data-target="#helpCollapse" aria-expanded="false" aria-controls="helpCollapse">
        Descrição<span class="glyphicon glyphicon-question-sign help-icon"> </span>
      </button>
      </div>

      <div class="collapse" id="helpCollapse">
        <div class="well text-justify">
          <p>Neste modo são utilizadas múltiplas estações de referência (Base) da Rede Brasileira 
de Monitoramento Continuas dos Sistemas GNSS para determinar as coordenadas de uma única estação (Rover).</p>
          <div align="center" style="margin:20px"><img src="/static/home/multiple.png" class="img-responsive" alt="Método relativo para múltiplas linhas de base" with="320px"></img></div>
          <p>Para este modo é esperado arquivos com mais de duas horas de rastreio. </p>
          <p>Arquivos com menos de duas horas que retornarem com erro do processamento, é aconselhado 
que sejam processados no modo estático rápido.</p>
        </div>
      </div>

      {% if isOK %}
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Arquivo submetido com sucesso!<br>O resultado do processamento será encaminhado por email.
        </div>
      {% endif %}
      {% if isErro or form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ erroMsg }}
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      <form method="post" enctype="multipart/form-data" id="redeForm">
        {% csrf_token %}

        {% for field in form %}

        <div class="form-group">

          {% if field.html_name == "base_select_type" %}

            <label for="id_base_select_type_0">Seleção das estações de referência (BASE):</label>
            <a><span class="glyphicon glyphicon-question-sign help-icon" data-helpid="{{ field.html_name }}" data-helptitle="{{ field.label }}" data-toggle="modal" data-target="#helpModal" aria-hidden="true"></a>
            <ul id="id_base_select_type" class="list-group">
              <li class="list-group-item">
                <label for="id_base_select_type_0">
                <input class="list-group" type="radio" name="base_select_type"
                value="auto" required checked id="id_base_select_type_0"
                onclick="
                  document.getElementById('id_bases_rbmc_choices_chosen').disabled=true;
                  document.getElementById('id_bases_rbmc_choices').required=false;
                  document.getElementById('id_base_select_max_distance').disabled=false;
                  document.getElementById('id_base_select_max_distance').required=true;"
                >
                Automática (RBMC)
              </label>
              <a><span class="glyphicon glyphicon-question-sign help-icon" data-helpid="{{ field.html_name }}_auto" data-helptitle="Automática (RBMC)" data-toggle="modal" data-target="#helpModal" aria-hidden="true"></a>

              </li>
              <li class="list-group-item"><label for="id_base_select_type_1">
                <input type="radio" name="base_select_type" value="manual" id="id_base_select_type_1"
                onclick="
                  document.getElementById('id_bases_rbmc_choices_chosen').disabled=false;
                  document.getElementById('id_bases_rbmc_choices').required=true;
                  document.getElementById('id_base_select_max_distance').disabled=true;
                  document.getElementById('id_base_select_max_distance').required=false;"
                >
                Manual</label>
                <a><span class="glyphicon glyphicon-question-sign help-icon" data-helpid="{{ field.html_name }}_manual" data-helptitle="Manual" data-toggle="modal" data-target="#helpModal" aria-hidden="true"></a>

              </li>
            </ul>


            {% elif field.html_name == "coord_ref_type" %}

              <label for="id_coord_ref_type_0">Coordenadas de referência (BASE):</label>
              <a><span class="glyphicon glyphicon-question-sign help-icon" data-helpid="{{ field.html_name }}" data-helptitle="{{ field.label }}" data-toggle="modal" data-target="#helpModal" aria-hidden="true"></a>
              <ul id="id_coord_ref_type" class="list-group">
                <li class="list-group-item">
                  <label for="id_coord_ref_type_0">
                  <input class="list-group" type="radio" name="coord_ref_type"
                         value="header_rinex" required checked id="id_coord_ref_type_0">
                  No cabeçalho do arquivo rinex
                </label>
                <a><span class="glyphicon glyphicon-question-sign help-icon" data-helpid="{{ field.html_name }}_header_rinex" data-helptitle="No cabeçalho do arquivo rinex" data-toggle="modal" data-target="#helpModal" aria-hidden="true"></a>

                </li>
                <li class="list-group-item">
                <label for="id_coord_ref_type_1">
                  <input type="radio" name="coord_ref_type" value="user_set"
                         disabled=True id="id_coord_ref_type_1">
                  Inserir manualmente
                </label>
                <a><span class="glyphicon glyphicon-question-sign help-icon" data-helpid="{{ field.html_name }}_user_set" data-helptitle="Inserir manualmente" data-toggle="modal" data-target="#helpModal" aria-hidden="true"></a>

                </li>
              </ul>

           {% elif field.html_name in '["coord_X", "coord_Y", "coord_Z"]' %}
          <!-- campos criados manualmente no final do looping -->
          {% else %}
            {{ field.label_tag }}
            
              {% if field.html_name != "email" %}
                <a>
                <span class="glyphicon glyphicon-question-sign help-icon" data-helpid="{{ field.html_name }}" data-helptitle="{{ field.label }}" data-toggle="modal" data-target="#helpModal" aria-hidden="true">
                </a>
              {% endif %}

            {{ field }}

          {% endif %}

          {% if field.errors %}
          <ul class="list-group">
            {% for erro in field.errors %}
            <li class="list-group-item list-group-item-danger">{{ erro }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
        {% endfor %}

        <!-- coordenadas de referencia -->
        <div class="form-group">
            <div class="row">
              <div class="col-sm-12">

                  <div class="input-group">
                  <span class="input-group-addon">X (m):</span>
                  <input type="number" step = "0.000001" max="999999999" min="-999999999" name="coord_X" class="form-control" disabled="" id="id_coord_X">
                  <span class="input-group-addon">Desvio X (m):</span>
                  <input type="number" step = "0.000001" max="999999999" min="-999999999" name="coord_dX" class="form-control" disabled="" id="id_coord_dX">
                  </div>
                  <div class="input-group">
                  <span class="input-group-addon">Y (m):</span>
                  <input type="number" step = "0.000001" max="999999999" min="-999999999" name="coord_Y" class="form-control" disabled="" id="id_coord_Y">
                  <span class="input-group-addon">Desvio Y (m):</span>
                  <input type="number" step = "0.000001" max="999999999" min="-999999999" name="coord_dY" class="form-control" disabled="" id="id_coord_dY">
                  </div>
                  <div class="input-group">
                  <span class="input-group-addon">Z (m):</span>
                  <input type="number" step = "0.000001" max="999999999" min="-999999999" name="coord_Z" class="form-control" disabled="" id="id_coord_Z">
                  <span class="input-group-addon">Desvio Z (m):</span>
                  <input type="number" step = "0.000001" max="999999999" min="-999999999" name="coord_dZ" class="form-control" disabled="" id="id_coord_dZ">
                  </div>

                  <br>
              </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
          </div><!-- /.form-group -->


          <button type="submit" class="btn btn-default btn-lg" onclick="
            if(document.getElementById('redeForm').checkValidity()){
              document.getElementById('uploadAlert').style.display='block';
              document.getElementById('uploadAlert').focus();
            }">
            Enviar
          </button>

        <script src="{% static 'chosen/docsupport/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'chosen/docsupport/prism.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'chosen/docsupport/init.js' %}" type="text/javascript" charset="utf-8"></script>

      </form>
    </div> <!-- /container -->

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title"></span>
      </div>
      <div class="modal-body text-justify">
        <span id="modal-message"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
