{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container theme-showcase" role="main">
  {% if next %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      O usuário precisa estar autenticado para acessar esta aplicação.
    </div>
  {% endif %}
  <div class="jumbotron">
  {% if isErro or form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ erroMsg }}
      {{ form.non_field_errors }}
    </div>
  {% endif %}
  <form method="post" enctype="multipart/form-data" id="loginForm">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
      <ul class="list-group">
        {% for erro in field.errors %}
        <li class="list-group-item list-group-item-danger">{{ erro }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-default btn-lg">
      Entrar
    </button>
  </form>
  <br>
  <br>
<p style="font-size:15px;">
  Não é cadastrado? <a href="{% url 'accounts:register' %}">Cadastre-se</a> <br>
  Esqueceu a senha? <a href="{% url 'accounts:password_reset' %}">Nova senha</a>
</p>

  </div>
</div> <!-- /container -->

{% endblock %}
