html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  padding-bottom: 70px;
}

/*body > .container {
  padding: 60px 15px 0;
}*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

.theme-dropdown .dropdown-menu {
  position: fixed;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.text-muted {
  margin: 10px 0;
}

.jumbotron {
  text-align: justify;
}

.help-icon {
  color: rgb(0, 0, 0);
}

.help-icon:hover{
  color: rgb(121, 29, 31);
  cursor: help;
}

.logo{
  font-family: Asenine;
  font-weight: bold;
}

.logo-u{
  color: rgb(0, 0, 0);
}

.logo-f{
  color: rgb(121, 29, 31);
}

.logo-v{
  color: rgb(195, 166, 59);
}

@font-face {
  font-family: Asenine;
  src: url(ASENW___.ttf);
}